@page "/settings"
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage

<h3>Settings</h3>

<p>Select the currencies you want to use:</p>

<div>
    <label for="fromCurrency">From Currency:</label>
    <select id="fromCurrency" @bind="SelectedFromCurrency">
        @foreach (var currency in AvailableCurrencies)
        {
            <option value="@currency.Code">@currency.Code - @currency.Name (@currency.Country)</option>
        }
    </select>
</div>

<div>
    <label for="toCurrency">To Currency:</label>
    <select id="toCurrency" @bind="SelectedToCurrency">
        @foreach (var currency in AvailableCurrencies.Where(c => c.Code != SelectedFromCurrency))
        {
            <option value="@currency.Code">@currency.Code - @currency.Name (@currency.Country)</option>
        }
    </select>
</div>

<button @onclick="AddConversion">Add Conversion</button>

<h4>Selected Conversions</h4>
<ul>
    @foreach (var conversion in SelectedConversions)
    {
        <li>
            @conversion.FromCurrency to @conversion.ToCurrency
            <button @onclick="() => RemoveConversion(conversion)">Remove</button>
        </li>
    }
</ul>

<button @onclick="SaveSettings">Save Settings</button>

@code {
    private List<Currency> AvailableCurrencies { get; set; } = new List<Currency>
    {
        new Currency { Code = "AED", Name = "UAE Dirham", Country ="United Arab Emirates"},
        new Currency { Code = "AFN", Name = "Afghan Afghani", Country ="Afghanistan"},
        new Currency { Code = "ALL", Name = "Albanian Lek", Country ="Albania"},
        new Currency { Code = "AMD", Name = "Armenian Dram", Country ="Armenia"},
        new Currency { Code = "ANG", Name = "Netherlands Antillian Guilder", Country ="Netherlands Antilles"},
        new Currency { Code = "AOA", Name = "Angolan Kwanza", Country ="Angola"},
        new Currency { Code = "ARS", Name = "Argentine Peso", Country ="Argentina"},
        new Currency { Code = "AUD", Name = "Australian Dollar", Country ="Australia"},
        new Currency { Code = "AWG", Name = "Aruban Florin", Country ="Aruba"},
        new Currency { Code = "AZN", Name = "Azerbaijani Manat", Country ="Azerbaijan"},
        new Currency { Code = "BAM", Name = "Bosnia and Herzegovina Mark", Country ="Bosnia and Herzegovina"},
        new Currency { Code = "BBD", Name = "Barbados Dollar", Country ="Barbados"},
        new Currency { Code = "BDT", Name = "Bangladeshi Taka", Country ="Bangladesh"},
        new Currency { Code = "BGN", Name = "Bulgarian Lev", Country ="Bulgaria"},
        new Currency { Code = "BHD", Name = "Bahraini Dinar", Country ="Bahrain"},
        new Currency { Code = "BIF", Name = "Burundian Franc", Country ="Burundi"},
        new Currency { Code = "BMD", Name = "Bermudian Dollar", Country ="Bermuda"},
        new Currency { Code = "BND", Name = "Brunei Dollar", Country ="Brunei"},
        new Currency { Code = "BOB", Name = "Bolivian Boliviano", Country ="Bolivia"},
        new Currency { Code = "BRL", Name = "Brazilian Real", Country ="Brazil"},
        new Currency { Code = "BSD", Name = "Bahamian Dollar", Country ="Bahamas"},
        new Currency { Code = "BTN", Name = "Bhutanese Ngultrum", Country ="Bhutan"},
        new Currency { Code = "BWP", Name = "Botswana Pula", Country ="Botswana"},
        new Currency { Code = "BYN", Name = "Belarusian Ruble", Country ="Belarus"},
        new Currency { Code = "BZD", Name = "Belize Dollar", Country ="Belize"},
        new Currency { Code = "CAD", Name = "Canadian Dollar", Country ="Canada"},
        new Currency { Code = "CDF", Name = "Congolese Franc", Country ="Democratic Republic of the Congo"},
        new Currency { Code = "CHF", Name = "Swiss Franc", Country ="Switzerland"},
        new Currency { Code = "CLP", Name = "Chilean Peso", Country ="Chile"},
        new Currency { Code = "CNY", Name = "Chinese Renminbi", Country ="China"},
        new Currency { Code = "COP", Name = "Colombian Peso", Country ="Colombia"},
        new Currency { Code = "CRC", Name = "Costa Rican Colon", Country ="Costa Rica"},
        new Currency { Code = "CUP", Name = "Cuban Peso", Country ="Cuba"},
        new Currency { Code = "CVE", Name = "Cape Verdean Escudo", Country ="Cape Verde"},
        new Currency { Code = "CZK", Name = "Czech Koruna", Country ="Czech Republic"},
        new Currency { Code = "DJF", Name = "Djiboutian Franc", Country ="Djibouti"},
        new Currency { Code = "DKK", Name = "Danish Krone", Country ="Denmark"},
        new Currency { Code = "DOP", Name = "Dominican Peso", Country ="Dominican Republic"},
        new Currency { Code = "DZD", Name = "Algerian Dinar", Country ="Algeria"},
        new Currency { Code = "EGP", Name = "Egyptian Pound", Country ="Egypt"},
        new Currency { Code = "ERN", Name = "Eritrean Nakfa", Country ="Eritrea"},
        new Currency { Code = "ETB", Name = "Ethiopian Birr", Country ="Ethiopia"},
        new Currency { Code = "EUR", Name = "Euro", Country ="European Union"},
        new Currency { Code = "FJD", Name = "Fiji Dollar", Country ="Fiji"},
        new Currency { Code = "FKP", Name = "Falkland Islands Pound", Country ="Falkland Islands"},
        new Currency { Code = "FOK", Name = "Faroese Króna", Country ="Faroe Islands"},
        new Currency { Code = "GBP", Name = "Pound Sterling", Country ="United Kingdom"},
        new Currency { Code = "GEL", Name = "Georgian Lari", Country ="Georgia"},
        new Currency { Code = "GGP", Name = "Guernsey Pound", Country ="Guernsey"},
        new Currency { Code = "GHS", Name = "Ghanaian Cedi", Country ="Ghana"},
        new Currency { Code = "GIP", Name = "Gibraltar Pound", Country ="Gibraltar"},
        new Currency { Code = "GMD", Name = "Gambian Dalasi", Country ="The Gambia"},
        new Currency { Code = "GNF", Name = "Guinean Franc", Country ="Guinea"},
        new Currency { Code = "GTQ", Name = "Guatemalan Quetzal", Country ="Guatemala"},
        new Currency { Code = "GYD", Name = "Guyanese Dollar", Country ="Guyana"},
        new Currency { Code = "HKD", Name = "Hong Kong Dollar", Country ="Hong Kong"},
        new Currency { Code = "HNL", Name = "Honduran Lempira", Country ="Honduras"},
        new Currency { Code = "HRK", Name = "Croatian Kuna", Country ="Croatia"},
        new Currency { Code = "HTG", Name = "Haitian Gourde", Country ="Haiti"},
        new Currency { Code = "HUF", Name = "Hungarian Forint", Country ="Hungary"},
        new Currency { Code = "IDR", Name = "Indonesian Rupiah", Country ="Indonesia"},
        new Currency { Code = "ILS", Name = "Israeli New Shekel", Country ="Israel"},
        new Currency { Code = "IMP", Name = "Manx Pound", Country ="Isle of Man"},
        new Currency { Code = "INR", Name = "Indian Rupee", Country ="India"},
        new Currency { Code = "IQD", Name = "Iraqi Dinar", Country ="Iraq"},
        new Currency { Code = "IRR", Name = "Iranian Rial", Country ="Iran"},
        new Currency { Code = "ISK", Name = "Icelandic Króna", Country ="Iceland"},
        new Currency { Code = "JEP", Name = "Jersey Pound", Country ="Jersey"},
        new Currency { Code = "JMD", Name = "Jamaican Dollar", Country ="Jamaica"},
        new Currency { Code = "JOD", Name = "Jordanian Dinar", Country ="Jordan"},
        new Currency { Code = "JPY", Name = "Japanese Yen", Country ="Japan"},
        new Currency { Code = "KES", Name = "Kenyan Shilling", Country ="Kenya"},
        new Currency { Code = "KGS", Name = "Kyrgyzstani Som", Country ="Kyrgyzstan"},
        new Currency { Code = "KHR", Name = "Cambodian Riel", Country ="Cambodia"},
        new Currency { Code = "KID", Name = "Kiribati Dollar", Country ="Kiribati"},
        new Currency { Code = "KMF", Name = "Comorian Franc", Country ="Comoros"},
        new Currency { Code = "KRW", Name = "South Korean Won", Country ="South Korea"},
        new Currency { Code = "KWD", Name = "Kuwaiti Dinar", Country ="Kuwait"},
        new Currency { Code = "KYD", Name = "Cayman Islands Dollar", Country ="Cayman Islands"},
        new Currency { Code = "KZT", Name = "Kazakhstani Tenge", Country ="Kazakhstan"},
        new Currency { Code = "LAK", Name = "Lao Kip", Country ="Laos"},
        new Currency { Code = "LBP", Name = "Lebanese Pound", Country ="Lebanon"},
        new Currency { Code = "LKR", Name = "Sri Lanka Rupee", Country ="Sri Lanka"},
        new Currency { Code = "LRD", Name = "Liberian Dollar", Country ="Liberia"},
        new Currency { Code = "LSL", Name = "Lesotho Loti", Country ="Lesotho"},
        new Currency { Code = "LYD", Name = "Libyan Dinar", Country ="Libya"},
        new Currency { Code = "MAD", Name = "Moroccan Dirham", Country ="Morocco"},
        new Currency { Code = "MDL", Name = "Moldovan Leu", Country ="Moldova"},
        new Currency { Code = "MGA", Name = "Malagasy Ariary", Country ="Madagascar"},
        new Currency { Code = "MKD", Name = "Macedonian Denar", Country ="North Macedonia"},
        new Currency { Code = "MMK", Name = "Burmese Kyat", Country ="Myanmar"},
        new Currency { Code = "MNT", Name = "Mongolian Tögrög", Country ="Mongolia"},
        new Currency { Code = "MOP", Name = "Macanese Pataca", Country ="Macau"},
        new Currency { Code = "MRU", Name = "Mauritanian Ouguiya", Country ="Mauritania"},
        new Currency { Code = "MUR", Name = "Mauritian Rupee", Country ="Mauritius"},
        new Currency { Code = "MVR", Name = "Maldivian Rufiyaa", Country ="Maldives"},
        new Currency { Code = "MWK", Name = "Malawian Kwacha", Country ="Malawi"},
        new Currency { Code = "MXN", Name = "Mexican Peso", Country ="Mexico"},
        new Currency { Code = "MYR", Name = "Malaysian Ringgit", Country ="Malaysia"},
        new Currency { Code = "MZN", Name = "Mozambican Metical", Country ="Mozambique"},
        new Currency { Code = "NAD", Name = "Namibian Dollar", Country ="Namibia"},
        new Currency { Code = "NGN", Name = "Nigerian Naira", Country ="Nigeria"},
        new Currency { Code = "NIO", Name = "Nicaraguan Córdoba", Country ="Nicaragua"},
        new Currency { Code = "NOK", Name = "Norwegian Krone", Country ="Norway"},
        new Currency { Code = "NPR", Name = "Nepalese Rupee", Country ="Nepal"},
        new Currency { Code = "NZD", Name = "New Zealand Dollar", Country ="New Zealand"},
        new Currency { Code = "OMR", Name = "Omani Rial", Country ="Oman"},
        new Currency { Code = "PAB", Name = "Panamanian Balboa", Country ="Panama"},
        new Currency { Code = "PEN", Name = "Peruvian Sol", Country ="Peru"},
        new Currency { Code = "PGK", Name = "Papua New Guinean Kina", Country ="Papua New Guinea"},
        new Currency { Code = "PHP", Name = "Philippine Peso", Country ="Philippines"},
        new Currency { Code = "PKR", Name = "Pakistani Rupee", Country ="Pakistan"},
        new Currency { Code = "PLN", Name = "Polish Złoty", Country ="Poland"},
        new Currency { Code = "PYG", Name = "Paraguayan Guaraní", Country ="Paraguay"},
        new Currency { Code = "QAR", Name = "Qatari Riyal", Country ="Qatar"},
        new Currency { Code = "RON", Name = "Romanian Leu", Country ="Romania"},
        new Currency { Code = "RSD", Name = "Serbian Dinar", Country ="Serbia"},
        new Currency { Code = "RUB", Name = "Russian Ruble", Country ="Russia"},
        new Currency { Code = "RWF", Name = "Rwandan Franc", Country ="Rwanda"},
        new Currency { Code = "SAR", Name = "Saudi Riyal", Country ="Saudi Arabia"},
        new Currency { Code = "SBD", Name = "Solomon Islands Dollar", Country ="Solomon Islands"},
        new Currency { Code = "SCR", Name = "Seychellois Rupee", Country ="Seychelles"},
        new Currency { Code = "SDG", Name = "Sudanese Pound", Country ="Sudan"},
        new Currency { Code = "SEK", Name = "Swedish Krona", Country ="Sweden"},
        new Currency { Code = "SGD", Name = "Singapore Dollar", Country ="Singapore"},
        new Currency { Code = "SHP", Name = "Saint Helena Pound", Country ="Saint Helena"},
        new Currency { Code = "SLE", Name = "Sierra Leonean Leone", Country ="Sierra Leone"},
        new Currency { Code = "SOS", Name = "Somali Shilling", Country ="Somalia"},
        new Currency { Code = "SRD", Name = "Surinamese Dollar", Country ="Suriname"},
        new Currency { Code = "SSP", Name = "South Sudanese Pound", Country ="South Sudan"},
        new Currency { Code = "STN", Name = "São Tomé and Príncipe Dobra", Country ="São Tomé and Príncipe"},
        new Currency { Code = "SYP", Name = "Syrian Pound", Country ="Syria"},
        new Currency { Code = "SZL", Name = "Eswatini Lilangeni", Country ="Eswatini"},
        new Currency { Code = "THB", Name = "Thai Baht", Country ="Thailand"},
        new Currency { Code = "TJS", Name = "Tajikistani Somoni", Country ="Tajikistan"},
        new Currency { Code = "TMT", Name = "Turkmenistan Manat", Country ="Turkmenistan"},
        new Currency { Code = "TND", Name = "Tunisian Dinar", Country ="Tunisia"},
        new Currency { Code = "TOP", Name = "Tongan Paʻanga", Country ="Tonga"},
        new Currency { Code = "TRY", Name = "Turkish Lira", Country ="Turkey"},
        new Currency { Code = "TTD", Name = "Trinidad and Tobago Dollar", Country ="Trinidad and Tobago"},
        new Currency { Code = "TVD", Name = "Tuvaluan Dollar", Country ="Tuvalu"},
        new Currency { Code = "TWD", Name = "New Taiwan Dollar", Country ="Taiwan"},
        new Currency { Code = "TZS", Name = "Tanzanian Shilling", Country ="Tanzania"},
        new Currency { Code = "UAH", Name = "Ukrainian Hryvnia", Country ="Ukraine"},
        new Currency { Code = "UGX", Name = "Ugandan Shilling", Country ="Uganda"},
        new Currency { Code = "USD", Name = "United States Dollar", Country ="United States"},
        new Currency { Code = "UYU", Name = "Uruguayan Peso", Country ="Uruguay"},
        new Currency { Code = "UZS", Name = "Uzbekistani So'm", Country ="Uzbekistan"},
        new Currency { Code = "VES", Name = "Venezuelan Bolívar Soberano", Country ="Venezuela"},
        new Currency { Code = "VND", Name = "Vietnamese Đồng", Country ="Vietnam"},
        new Currency { Code = "VUV", Name = "Vanuatu Vatu", Country ="Vanuatu"},
        new Currency { Code = "WST", Name = "Samoan Tālā", Country ="Samoa"},
        new Currency { Code = "XAF", Name = "Central African CFA Franc", Country ="CEMAC"},
        new Currency { Code = "XCD", Name = "East Caribbean Dollar", Country ="Organisation of Eastern Caribbean States"},
        new Currency { Code = "XDR", Name = "Special Drawing Rights", Country ="International Monetary Fund"},
        new Currency { Code = "XOF", Name = "West African CFA franc", Country ="CFA"},
        new Currency { Code = "XPF", Name = "CFP Franc", Country ="Collectivités d'Outre-Mer"},
        new Currency { Code = "YER", Name = "Yemeni Rial", Country ="Yemen"},
        new Currency { Code = "ZAR", Name = "South African Rand", Country ="South Africa"},
        new Currency { Code = "ZMW", Name = "Zambian Kwacha", Country ="Zambia"},
        new Currency { Code = "ZWL", Name = "Zimbabwean Dollar", Country ="Zimbabwe"}
    };

    private string SelectedFromCurrency { get; set; }
    private string SelectedToCurrency { get; set; }
    private List<CurrencyConversion> SelectedConversions { get; set; } = new List<CurrencyConversion>();

    protected override async Task OnInitializedAsync()
    {
        SelectedFromCurrency = await LocalStorage.GetItemAsync<string>("SelectedFromCurrency") ?? "USD";
        SelectedToCurrency = await LocalStorage.GetItemAsync<string>("SelectedToCurrency") ?? "EUR";
        SelectedConversions = await LocalStorage.GetItemAsync<List<CurrencyConversion>>("SelectedConversions") ?? new List<CurrencyConversion>();
    }

    private void AddConversion()
    {
        if (!SelectedConversions.Any(c => c.FromCurrency == SelectedFromCurrency && c.ToCurrency == SelectedToCurrency))
        {
            SelectedConversions.Add(new CurrencyConversion { FromCurrency = SelectedFromCurrency, ToCurrency = SelectedToCurrency });
        }
    }

    private void RemoveConversion(CurrencyConversion conversion)
    {
        SelectedConversions.Remove(conversion);
    }

    private async Task SaveSettings()
    {
        await LocalStorage.SetItemAsync("SelectedFromCurrency", SelectedFromCurrency);
        await LocalStorage.SetItemAsync("SelectedToCurrency", SelectedToCurrency);
        await LocalStorage.SetItemAsync("SelectedConversions", SelectedConversions);
    }

    private class Currency
    {
        public string Code { get; set; }
        public string Name { get; set; }
        public string Country { get; set; }
    }

    private class CurrencyConversion
    {
        public string FromCurrency { get; set; }
        public string ToCurrency { get; set; }
    }
}
